%nav.nav--shadow
  .nav--positioning
    .nav--gc
      .nav--g
        .nav--list.block--article{"data-subcategory-name" => "article"}
        %a.nav--list.block--adjective{"data-subcategory-name" => "adjective"}
        %a.nav--list.block--noun{"data-subcategory-name" => "noun"}
        %a.nav--list.block--pronoun{"data-subcategory-name" => "pronoun"}
        %a.nav--list.block--preposition{"data-subcategory-name" => "preposition"}
        %a.nav--list.block--verb{"data-subcategory-name" => "verb"}
        %a.nav--list.block--adverb{"data-subcategory-name" => "adverb"}
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/article"
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/adjective"
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/noun"
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/pronoun"
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/preposition"
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/verb"
    .nav--gc.nav__secondary--gc
      = partial "layouts/nav-secondary/adverb"