.lab__nav.j-whiteboard__storage
  %figure.nav--list.block--article{"data-subcategory-name" => "article"}
  %figure.nav--list.block--adjective{"data-subcategory-name" => "adjective"}
  %figure.nav--list.block--noun{"data-subcategory-name" => "noun"}
  %figure.nav--list.block--pronoun{"data-subcategory-name" => "pronoun"}
  %figure.nav--list.block--preposition{"data-subcategory-name" => "preposition"}
  %figure.nav--list.block--verb{"data-subcategory-name" => "verb"}
  %figure.nav--list.block--adverb{"data-subcategory-name" => "adverb"}
-#
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/article"
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/adjective"
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/noun"
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/pronoun"
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/preposition"
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/verb"
  .nav--gc.nav__secondary--gc
    = partial "layouts/nav-secondary/adverb"